html {
    scroll-behavior: smooth;
}

body {
    font-family: "Cairo", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inherit;
    outline: none;
    border: none;
}